

{% extends "layout/main.html" %}

{% block content %}
<section id="hero" class="hero section">

      <img src="/static/assets/img/hero-bg-2.png" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Bibek Shrestha</h2>
            <p>I'm a professional Software Engineer.</p>
            <a href="{% url '/about.html'%}" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
  <!-- hero area -->


{% endblock %}


