{% extends "layout/main.html" %}
{% block title %}
      <title>Resume</title>
    {% endblock %}
{% block content %}
<!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Skilled Backend Developer with 6+ Years in Software Engineering and Academic Support.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Er. Bibek Shrestha</h4>
              <p><em>Backend Developer with 6+ years of experience in building and maintaining scalable systems. Skilled in problem-solving, performance optimization, and cross-functional collaboration.
                <br> Also served as a Teaching Assistant for 6 months, enhancing communication and mentoring skills.</p>
                </em></p>
              <ul>
                <li>Lubhu, Lalitpur, Nepal</li>
                <li><a href="mailto:bibekshrestha2070@gmail.com">bibekshrestha2070@gmail.com</a></li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Technology in Artificial Intelligence</h4>
              <h5>2024 - Present</h5>
              <p><em>Kathmandu University, School of Engineering, Dhulikhel</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Bachelor of Engineering in Computer</h4>
              <h5>2014 - 2018</h5>
              <p><em>National College of Engineering, TU, Talchikhel</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Higher Secondary Certificate-Science</h4>
              <h5>2012 - 2014</h5>
              <p><em>Grand Academy, Kumaripati</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Secondary School Certificate - SLC</h4>
              <h5>2000 - 2012</h5>
              <p><em>Balkunj Secondary School, Lubhu</em></p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Teaching Assistant</h4>
              <h5>Feb 2025 - Present</h5>
              <p><em>Kathmandu University, School Of Education, Hattiban </em></p>
              {% comment %} <ul>
                <li>Assisted in teaching and evaluating coursework in DSA, C programming, Computer maintenance & Troubleshooting.</li>
                <li>Supported students during lab sessions and office hours, clarifying technical concepts.</li>
                <li>Graded assignments, quizzes, and projects with timely and constructive feedback.</li>
                <li>Independently taught multiple classes, delivering lectures and hands-on sessions.</li>
                <li>Contributed to Lab manual designs.</li>
                <li>Guided students in understanding core backend development concepts such as APIs, databases, and MVC architecture.</li>
              </ul> {% endcomment %}
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>Dec 2022 - Dec 2024</h5>
              <p><em>NeolinTech, The Atrium Center, Mankhool Dubai</em></p>
              {% comment %} <p><em>Neolin Education</em></p>
              <ul>
                <li>E-Learning Platform.</li>
                <li>System Architecture Design, Database Planning, and Design.</li>
                <li>Backend Service development ie.RESTApi.</li>
                <li>Designed and implemented an interactive course module within an e-learning platform, allowing instructors to create, manage, and update courses with multimedia content(videos, quizzes, documents).</li>
                <li>Designed and implemented an interactive calendar module allowing users to schedule tasks, set reminders, and view events by day, week, and month.</li>
                <li>Built a scalable file upload and storage solution using Amazon S3, enabling efficient management of user-uploaded files in a cloud-based environment.</li>
                <li>Implemented Docker for containerization of backend services.</li>
              </ul> {% endcomment %}
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>Jan 2021 – Nov 2022</h5>
              <p><em>Ayaansh Technologies, Gabahal, Lalitpur</em></p>
              {% comment %} <p><em>PayWell</em></p>
              <ul>
                <li>Integrated Khalti service apis for utilities payments (Flight , Internet bills).</li>
                <li>Smart QR Integration and Integrated core wallet apis provided by DG hub.</li>
                <li>Ticket and Support feature for organizing, maintaining and solving customers queries.</li>
                <li>Implemented Event management (reality shows), voting and ticket system for those events with transactions.</li>
                <li>Code review and collaborated with developers to ensure functionalities.</li>
                <li>Developed and Implemented Code using DRF with microservice architecture.</li>
              </ul> {% endcomment %}
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>Nov 2018 - Dec 2020</h5>
              <p><em>Mantra Ideas Pvt. Ltd, Sankhamul, Lalitpur</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Intern</h4>
              <h5>May 2018 - Oct 2018</h5>
              <p><em>Creatu Developers, Balkumari</em></p>
            </div><!-- Edn Resume Item -->
          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->
{% endblock content %}