<section class="section section-on-footer" data-background="/static/images/backgrounds/bg-dots.png">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Contact Info</h2>
        </div>
        <div class="col-lg-8 mx-auto">
          <div class="bg-white rounded text-center p-5 shadow-down">
            
            <div class="thankyou_message" style="display:none;background: springgreen;">
              <p style="padding:5px;"><em>Thanks</em> for contacting me!
                I will get back to you soon!</h2>
            </div>
            <h4 class="mb-80">Contact Form</h4>
            <span class="fields-invalid invalid-feedback" style="display:none">
              All fields are required</span>
            <form action="https://script.google.com/macros/s/AKfycbwloT0G0xeQKtK4_CXaNNycXAI4QQeI0VOAuBpFxtSKFKuEJQjnImisMwOp9hc1LAzG5A/exec" method="post" class="gform row" >
              <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4" >
                <span class="name-invalid invalid-feedback" style="display:none">
                  This field is required</span>
              </div>
              <div class="col-md-6">
                <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4" >
                <span class="email-invalid invalid-feedback" style="display:none">
                  Must be a valid email address</span>
              </div>
              <div class="col-12">
                <textarea name="message" id="message" class="form-control px-0 mb-4"
                  placeholder="Type Message Here" ></textarea>
                  <span class="message-invalid invalid-feedback" style="display:none">
                    This field is required</span>
              </div>
              <div class="col-12">
                <div class="g-recaptcha" data-sitekey="6LfzSUUpAAAAAHNNMPl_58XcSkEMYeI03LFLx_tY"></div>

              </div>

              <div class="col-lg-6 col-10 mx-auto" style="margin:10px;">
                <button class="btn btn-primary w-100 sub-button" type="submit">send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>